<div>
    <h2 id="page-heading">
        <span jhiTranslate="taskManagerHsnxApp.branch.home.title">Branches</span>

        <button mat-fab class="fab-button-color" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-branch-hsnx" [routerLink]="['/branch-hsnx/new']" matTooltip="Add new branch">
            <fa-icon icon="plus"></fa-icon>
          <!-- <span class="hidden-sm-down"  jhiTranslate="taskManagerHsnxApp.branch.home.createLabel">
            Create a new Branch
            </span>-->
        </button>
    </h2>

 

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <mat-form-field>
                    <input matInput type="text"  [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'taskManagerHsnxApp.branch.home.search' | translate }}">
                    </mat-form-field>
                    <button mat-mini-fab color="primary" class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>
                    <button mat-mini-fab color="warn" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="branches?.length === 0">
        <span jhiTranslate="taskManagerHsnxApp.branch.home.notFound">No branches found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="branches?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)" style="background-color: #5f83c5">
                    <th scope="col"  jhiSortBy="id" ><span jhiTranslate="taskManagerHsnxApp.branch.id" style="color: white;">ID</span> <fa-icon icon="sort" class="text-white"></fa-icon></th>

                     <th scope="col"  jhiSortBy="branchName" ><span jhiTranslate="taskManagerHsnxApp.branch.branchName" style="color: white;">Branch Name</span> <fa-icon icon="sort" class="text-white"></fa-icon></th>
                    <th scope="col"  jhiSortBy="branchPhone"><span jhiTranslate="taskManagerHsnxApp.branch.branchPhone" style="color: white;">Branch Phone</span> <fa-icon icon="sort" class="text-white"></fa-icon></th>
                    <th scope="col"  jhiSortBy="branchFax"><span jhiTranslate="taskManagerHsnxApp.branch.branchFax" style="color: white;">Branch Fax</span> <fa-icon icon="sort" class="text-white"></fa-icon></th>
                    <th scope="col"  jhiSortBy="branchAddress"><span jhiTranslate="taskManagerHsnxApp.branch.branchAddress" style="color: white;">Branch Address</span> <fa-icon icon="sort" class="text-white" ></fa-icon></th>
                    <th scope="col"  jhiSortBy="branchEmail"><span jhiTranslate="taskManagerHsnxApp.branch.branchEmail" style="color: white;">Branch Email</span> <fa-icon icon="sort" class="text-white"></fa-icon></th>
                    <th scope="col"  jhiSortBy="branchBanner"><span jhiTranslate="taskManagerHsnxApp.branch.branchBanner" style="color: white;">Branch Banner</span> <fa-icon icon="sort" class="text-white"></fa-icon></th>
                    <th scope="col"  jhiSortBy="branchDefaultExercice"><span jhiTranslate="taskManagerHsnxApp.branch.branchDefaultExercice" style="color: white;">Branch Default Exercice</span> <fa-icon icon="sort" class="text-white"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let branch of branches ;trackBy: trackId">
                    <td>{{branch.id}}</td>
                    <td>{{ branch.branchName }}</td>
                    <td>{{ branch.branchPhone }}</td>
                    <td>{{ branch.branchFax }}</td>
                    <td>{{ branch.branchAddress }}</td>
                    <td>{{ branch.branchEmail }}</td>
                    <td>{{ branch.branchBanner }}</td>
                    <td>{{ branch.branchDefaultExercice }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            
                            <button ejs-button cssClass="e-success" type="submit"
                            [routerLink]="['/branch-hsnx', branch.id, 'view']"><fa-icon icon="eye"></fa-icon>

                        </button>

                            <button ejs-button cssClass="e-info" type="submit"
                                    [routerLink]="['/branch-hsnx', branch.id, 'edit']"
                                    >
                                <fa-icon icon="pencil-alt"></fa-icon>
                            </button>

                            <button ejs-button cssClass="e-danger" type="submit" (click)="delete(branch)"
                            >
                                <fa-icon icon="times"></fa-icon>

                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="branches?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
