<div class="col-lg-12 control-section">
    <div class="content-wrapper" style="margin-bottom: 25px;">
        <div class="formtitle">
            <span jhiTranslate="taskManagerHsnxApp.branch.home.createOrEditLabel">Branch Details</span>
        </div>

        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <div class="form-group mx-sm-3 mb-2">
            <div class="form-group" [hidden]="!editForm.get('id')!.value">
                <mat-label for="id" jhiTranslate="global.field.id">ID</mat-label>
                <mat-form-field class="example-full-width">
                <input matInput type="text" id="id" name="id" formControlName="id" readonly />
                </mat-form-field>
            </div>
        </div>

        <div class="form-group mx-sm-3 mb-2">
            <div class="form-group">
                <div class="e-float-input">
                    <input  type="text"  name="branchName" id="field_branchName"
                    formControlName="branchName">
                    <span class="e-float-line"></span>
                    <label jhiTranslate="taskManagerHsnxApp.branch.branchName" for="field_branchName"class="e-float-text">User Name</label>
                </div>
                <div *ngIf="editForm.get('branchName')!.invalid && (editForm.get('branchName')!.dirty || editForm.get('branchName')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('branchName')?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                    </small>
                </div>
            </div>
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <div class="form-group">
                <div class="e-float-input">
                    <input type="text" name="branchPhone" id="field_branchPhone"
                    formControlName="branchPhone">
                    <span class="e-float-line"></span>
                    <label jhiTranslate="taskManagerHsnxApp.branch.branchPhone" for="field_branchPhone"class="e-float-text">Branch Phone</label>
                </div>
               
            </div>
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <div class="form-group">
                <div class="e-float-input">
                    <input type="text"  name="branchFax" id="field_branchFax"
                    formControlName="branchFax">
                    <span class="e-float-line"></span>
                    <label  jhiTranslate="taskManagerHsnxApp.branch.branchFax" for="field_branchFax"class="e-float-text">Branch Fax</label>
                    
                </div>
            </div>
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <div class="form-group">
                <div class="e-float-input">
                    <input type="text"  name="branchAddress" id="field_branchAddress"
                    formControlName="branchAddress">
                    <span class="e-float-line"></span>
                    <label  jhiTranslate="taskManagerHsnxApp.branch.branchAddress" for="field_branchAddress"class="e-float-text">Branch Address</label>
                    
                </div>
            </div>
        </div>

           
        <div class="form-group mx-sm-3 mb-2">
            <div class="form-group">
                <div class="e-float-input">
                    <input type="text"  name="branchEmail" id="field_branchEmail"
                    formControlName="branchEmail">
                    <span class="e-float-line"></span>
                    <label jhiTranslate="taskManagerHsnxApp.branch.branchEmail" for="field_branchEmail"class="e-float-text">Branch Email</label>
                </div>
            </div>
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <div class="form-group">
                <div class="e-float-input">
                    <input type="text" name="branchBanner" id="field_branchBanner"
                    formControlName="branchBanner">
                    <span class="e-float-line"></span>
                    <label jhiTranslate="taskManagerHsnxApp.branch.branchBanner" for="field_branchBanner" class="e-float-text">Branch Banner</label>
                </div>
            </div>
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <div class="form-group">
                <div class="e-float-input">
                    <input type="number"  name="branchDefaultExercice" id="field_branchDefaultExercice"
                    formControlName="branchDefaultExercice">
                    <span class="e-float-line"></span>
                    <label  jhiTranslate="taskManagerHsnxApp.branch.branchDefaultExercice" for="field_branchDefaultExercice"class="e-float-text">Branch Default Exercice</label>
                </div>
            </div>
        </div>

            <div class="row">
                <div style="width: 320px;margin:0px auto;height: 100px;padding-top: 25px;">
                    <div style="display: inline-block;">
                        <button  id="save-entity" [disabled]="editForm.invalid || isSaving" class="samplebtn e-control e-btn e-primary" type="submit" style="height:40px;width: 150px;" data-ripple="true">
                            <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                        </button>
                    </div>
                    <div style="float: right;">
                        <button type="button" id="cancel-save"  (click)="previousState()" class="samplebtn e-control e-btn" style="height:40px;width: 150px;" data-ripple="true">
                            <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<div id="description">

<style>
    .formtitle {
        width: 100%;
        text-align: center;
        padding: 10px;
        font-size: 16px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.70);
    }

    .e-error,
    .e-float-text {
        font-weight: 500;
    }

    .e-custom-label {
        font-size: 14px;
        font-weight: 500;
        margin-left: 20px;
    }

    form {
        padding-top: 20px;
        margin-bottom: 45px;
        border: 1px solid #ccc;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.36);
        border-radius: 5px;
        background: #f9f9f9;
    }

    .highcontrast form,
    .highcontrast .header {
        color: #fff;
        background: #000000;
    }

    .header {
        color: rgba(0, 0, 0, 0.7);
    }

    table,
    td,
    th {
        padding: 5px;
    }

    .form-horizontal .form-group {
        margin-left: 20px;
        margin-right: 20px;
    }

    .row {
        padding-bottom: 30px;
        padding-top: 25px;
    }
</style>
