<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-notification-hsnx-heading" jhiTranslate="taskManagerHsnxApp.notification.home.createOrEditLabel">Create or edit a Notification</h2>

            <div>
                *

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <mat-label for="id" jhiTranslate="global.field.id">ID</mat-label>
                    <mat-form-field class="example-full-width">
                    <input matInput type="text"  id="id" name="id" formControlName="id" readonly />
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-label class="form-control-label" jhiTranslate="taskManagerHsnxApp.notification.message" for="field_message">Message</mat-label>
                    <mat-form-field class="example-full-width">
                       <input matInput type="text" name="message" id="field_message"
                           formControlName="message"/>
                     <div *ngIf="editForm.get('message')!.invalid && (editForm.get('message')!.dirty || editForm.get('message')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('message')?.errors?.required" jhiTranslate="entity.validation.required">
                                This field is required.
                        </small>
                     </div>
                    </mat-form-field>
                </div>

                <div class="form-group">
                    
                    <label class="form-control-label" jhiTranslate="taskManagerHsnxApp.notification.handled" for="field_handled">Handled</label>
                    <input type="checkbox"  name="handled" id="field_handled"
                           formControlName="handled"/>
                </div>

                <div class="form-group">
                    <mat-label class="form-control-label" jhiTranslate="taskManagerHsnxApp.notification.notifFrom" for="field_notifFrom">Notif From</mat-label>
                    <mat-form-field class="example-full-width">
                    <input matInput type="text"  name="notifFrom" id="field_notifFrom"
                           formControlName="notifFrom"/>
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-label class="form-control-label" jhiTranslate="taskManagerHsnxApp.notification.notifto" for="field_notifto">Notifto</mat-label>
                    <mat-form-field class="example-full-width">
                    <input matInput type="text"  name="notifto" id="field_notifto"
                           formControlName="notifto"/>
                    </mat-form-field>       
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
