<div>
    <h2 id="page-heading">
        <span jhiTranslate="taskManagerHsnxApp.event.home.title">Events</span>

        <button mat-fab color="primary"  id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-event-hsnx" [routerLink]="['/event-hsnx/new']">
            <fa-icon icon="plus"></fa-icon>
            <!--<span class="hidden-sm-down"  jhiTranslate="taskManagerHsnxApp.event.home.createLabel">
            Create a new Event
            </span>-->
        </button>
    </h2>

    

    

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <mat-form-field>
                    <input matInput type="text"  [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'taskManagerHsnxApp.event.home.search' | translate }}">
                   </mat-form-field>
                    <button mat-mini-fab color="primary" class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                   <!-- <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>-->
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="events?.length === 0">
        <span jhiTranslate="taskManagerHsnxApp.event.home.notFound">No events found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="events?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)" style="background-color: #5f83c5">
                    <th scope="col"  jhiSortBy="eventdescription"><span jhiTranslate="taskManagerHsnxApp.event.eventdescription"  style="color: white;">Eventdescription</span> <fa-icon icon="sort" class="text-white"></fa-icon></th>
                    <th scope="col"  jhiSortBy="starttime"><span jhiTranslate="taskManagerHsnxApp.event.starttime"  style="color: white;">Starttime</span> <fa-icon icon="sort" class="text-white"></fa-icon></th>
                    <th scope="col"  jhiSortBy="startdate"><span jhiTranslate="taskManagerHsnxApp.event.startdate"  style="color: white;">Startdate</span> <fa-icon icon="sort" class="text-white"></fa-icon></th>
                    <th scope="col"  jhiSortBy="endtime"><span jhiTranslate="taskManagerHsnxApp.event.endtime"  style="color: white;">Endtime</span> <fa-icon icon="sort" class="text-white"></fa-icon></th>
                    <th scope="col"  jhiSortBy="enddate"><span jhiTranslate="taskManagerHsnxApp.event.enddate"  style="color: white;">Enddate</span> <fa-icon icon="sort" class="text-white"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tblTaskTasktitle"><span jhiTranslate="taskManagerHsnxApp.event.tblTask"  style="color: white;">Tbl Task</span> <fa-icon icon="sort" class="text-white"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let event of events ;trackBy: trackId">
                    <td>{{ event.eventdescription }}</td>
                    <td>{{ event.starttime | date:'medium' }}</td>
                    <td>{{ event.startdate | date:'mediumDate' }}</td>
                    <td>{{ event.endtime | date:'medium' }}</td>
                    <td>{{ event.enddate | date:'mediumDate' }}</td>
                    <td>
                        <div *ngIf="event.tblTaskId">
                            <a [routerLink]="['/task-hsnx', event.tblTaskId , 'view']" >{{ event.tblTaskTasktitle }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/event-hsnx', event.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/event-hsnx', event.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                            </button>

                            <button type="submit" (click)="delete(event)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="events?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
