<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="-task-hsnx-heading" jhiTranslate="taskManagerHsnxApp.task.home.createOrEditLabel">Create or edit a Task</h2>

            <div>
                

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taskManagerHsnxApp.task.tasktitle" for="field_tasktitle">Tasktitle</label>
                    <input type="text" class="form-control" name="tasktitle" id="field_tasktitle"
                           formControlName="tasktitle"/>
                    <div *ngIf="editForm.get('tasktitle')!.invalid && (editForm.get('tasktitle')!.dirty || editForm.get('tasktitle')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('tasktitle')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taskManagerHsnxApp.task.taskdescription" for="field_taskdescription">Taskdescription</label>
                    <input type="text" class="form-control" name="taskdescription" id="field_taskdescription"
                           formControlName="taskdescription"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taskManagerHsnxApp.task.dateStart" for="field_dateStart">Date Start</label>
                    <div class="input-group">
                        <input id="field_dateStart" type="text" class="form-control" name="dateStart" ngbDatepicker #dateStartDp="ngbDatepicker" formControlName="dateStart"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateStartDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taskManagerHsnxApp.task.timeStart" for="field_timeStart">Time Start</label>
                    <div class="d-flex">
                        <input id="field_timeStart" type="datetime-local" class="form-control" name="timeStart" formControlName="timeStart" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taskManagerHsnxApp.task.dateEnd" for="field_dateEnd">Date End</label>
                    <div class="input-group">
                        <input id="field_dateEnd" type="text" class="form-control" name="dateEnd" ngbDatepicker #dateEndDp="ngbDatepicker" formControlName="dateEnd"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateEndDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taskManagerHsnxApp.task.timeEnd" for="field_timeEnd">Time End</label>
                    <div class="d-flex">
                        <input id="field_timeEnd" type="datetime-local" class="form-control" name="timeEnd" formControlName="timeEnd" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taskManagerHsnxApp.task.taskstatus" for="field_taskstatus">Taskstatus</label>
                    <input type="number" class="form-control" name="taskstatus" id="field_taskstatus"
                           formControlName="taskstatus"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taskManagerHsnxApp.task.taskpriority" for="field_taskpriority">Taskpriority</label>
                    <input type="number" class="form-control" name="taskpriority" id="field_taskpriority"
                           formControlName="taskpriority"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taskManagerHsnxApp.task.dueDate" for="field_dueDate">Due Date</label>
                    <div class="input-group">
                        <input id="field_dueDate" type="text" class="form-control" name="dueDate" ngbDatepicker #dueDateDp="ngbDatepicker" formControlName="dueDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dueDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taskManagerHsnxApp.task.taskcategory" for="field_taskcategory">Taskcategory</label>
                    <input type="text" class="form-control" name="taskcategory" id="field_taskcategory"
                           formControlName="taskcategory"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taskManagerHsnxApp.task.taskstate" for="field_taskstate">Taskstate</label>
                    <input type="number" class="form-control" name="taskstate" id="field_taskstate"
                           formControlName="taskstate"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taskManagerHsnxApp.task.tblEmployee" for="field_tblEmployee">Tbl Employee</label>
                    <select class="form-control" id="field_tblEmployee" name="tblEmployee" formControlName="tblEmployeeId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="EmployeeOption.id" *ngFor="let EmployeeOption of employees; trackBy: trackById">{{ EmployeeOption.employeename }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
