<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="-task-hsnx-heading" jhiTranslate="taskManagerHsnxApp.task.home.createOrEditLabel">Create or edit a Task</h2>

            <div>
                

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <mat-label for="id" jhiTranslate="global.field.id">ID</mat-label>
                        <mat-form-field class="example-full-width">
                    <input matInput type="text"  id="id" name="id" formControlName="id" readonly />
                </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-label class="form-control-label" jhiTranslate="taskManagerHsnxApp.task.tasktitle" for="field_tasktitle">
                        Tasktitle</mat-label>
                    <mat-form-field class="example-full-width">
                        <input matInput type="text" name="tasktitle" id="field_tasktitle" formControlName="tasktitle" />
                        <div
                            *ngIf="editForm.get('tasktitle')!.invalid && (editForm.get('tasktitle')!.dirty || editForm.get('tasktitle')!.touched)">
                            <small class="form-text text-danger" *ngIf="editForm.get('tasktitle')?.errors?.required"
                                jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                
                        </div>
                    </mat-form-field>
                </div>
            

                <div class="form-group">
                    <mat-label class="form-control-label" jhiTranslate="taskManagerHsnxApp.task.taskdescription" for="field_taskdescription">Taskdescription</mat-label>
                        <mat-form-field class="example-full-width">
                    <input matInput type="text"  name="taskdescription" id="field_taskdescription"
                           formControlName="taskdescription"/>
                        </mat-form-field>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taskManagerHsnxApp.task.dateStart" for="field_dateStart">Date Start</label>
                    <div class="input-group">
                        <input id="field_dateStart" type="text" class="form-control" name="dateStart" ngbDatepicker #dateStartDp="ngbDatepicker" formControlName="dateStart"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateStartDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taskManagerHsnxApp.task.timeStart" for="field_timeStart">Time Start</label>
                    <div class="d-flex">
                        <input id="field_timeStart" type="datetime-local" class="form-control" name="timeStart" formControlName="timeStart" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taskManagerHsnxApp.task.dateEnd" for="field_dateEnd">Date End</label>
                    <div class="input-group">
                        <input id="field_dateEnd" type="text" class="form-control" name="dateEnd" ngbDatepicker #dateEndDp="ngbDatepicker" formControlName="dateEnd"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateEndDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <mat-label class="form-control-label" jhiTranslate="taskManagerHsnxApp.task.timeEnd" for="field_timeEnd">Time End</mat-label>
                    <div class="d-flex">
                        <input id="field_timeEnd" type="datetime-local" class="form-control" name="timeEnd" formControlName="timeEnd" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <mat-label class="form-control-label" jhiTranslate="taskManagerHsnxApp.task.taskstatus" for="field_taskstatus">Taskstatus</mat-label>
                    <mat-form-field class="example-full-width">
                    <input  matInput type="number"  name="taskstatus" id="field_taskstatus"
                           formControlName="taskstatus"/>
                        </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-label class="form-control-label" jhiTranslate="taskManagerHsnxApp.task.taskpriority" for="field_taskpriority">Taskpriority</mat-label>
                    <mat-form-field class="example-full-width">
                    <input matInput type="number"  name="taskpriority" id="field_taskpriority"
                           formControlName="taskpriority"/>
                        </mat-form-field>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taskManagerHsnxApp.task.dueDate" for="field_dueDate">Due Date</label>
                    <div class="input-group">
                        <input id="field_dueDate" type="text" class="form-control" name="dueDate" ngbDatepicker #dueDateDp="ngbDatepicker" formControlName="dueDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dueDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <mat-label class="form-control-label" jhiTranslate="taskManagerHsnxApp.task.taskcategory" for="field_taskcategory">
                        Taskcategory</mat-label>
                    <mat-form-field class="example-full-width">
                        <input matInput type="number" name="taskcategory" id="field_taskcategory"
                            formControlName="taskcategory" />
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-label class="form-control-label" jhiTranslate="taskManagerHsnxApp.task.taskstate" for="field_taskstate">
                        Taskstate</mat-label>
                    <mat-form-field class="example-full-width">
                        <input matInput type="number" name="taskstate" id="field_taskstate"
                            formControlName="taskstate" />
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taskManagerHsnxApp.task.tblEmployee" for="field_tblEmployee">Tbl Employee</label>
                    <select class="form-control" id="field_tblEmployee" name="tblEmployee" formControlName="tblEmployeeId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="EmployeeOption.id" *ngFor="let EmployeeOption of employees; trackBy: trackById">{{ EmployeeOption.employeename }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
