<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-department-hsnx-heading" jhiTranslate="taskManagerHsnxApp.department.home.createOrEditLabel">Create or edit a Department</h2>

            <div>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <mat-label for="id" jhiTranslate="global.field.id">ID</mat-label>
                    <mat-form-field class="example-full-width">
                    <input matInput type="text"  id="id" name="id" formControlName="id" readonly />
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-label class="form-control-label" jhiTranslate="taskManagerHsnxApp.department.deptName" for="field_deptName">Dept Name</mat-label>
                    <mat-form-field class="example-full-width">
                    <input matInput type="text" name="deptName" id="field_deptName"
                           formControlName="deptName"/>
                    <div *ngIf="editForm.get('deptName')!.invalid && (editForm.get('deptName')!.dirty || editForm.get('deptName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('deptName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                      </mat-form-field>
                      </div>

                <div class="form-group">
                    <mat-label class="form-control-label" jhiTranslate="taskManagerHsnxApp.department.deptNote" for="field_deptNote">Dept Note</mat-label>
                    <mat-form-field class="example-full-width">
                    <input matInput type="text"  name="deptNote" id="field_deptNote"
                           formControlName="deptNote"/>
                    </mat-form-field>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
