<div>
    <h2 id="page-heading">
        <span jhiTranslate="taskManagerHsnxApp.department.home.title">Departments</span>

        <button mat-fab class="fab-button-color" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-department-hsnx" [routerLink]="['/department-hsnx/new']" matTooltip="Add new department">
            <fa-icon icon="plus"></fa-icon>
            <!--<span class="hidden-sm-down"  jhiTranslate="taskManagerHsnxApp.department.home.createLabel">
            Create a new Department
            </span>-->
        </button>
    </h2>

  
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <mat-form-field>
                        <input matInput type="text"  [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'taskManagerHsnxApp.department.home.search' | translate }}">
                    </mat-form-field>
                    <button mat-mini-fab color="primary" class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>
                    <button mat-mini-fab color="warn" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="departments?.length === 0">
        <span jhiTranslate="taskManagerHsnxApp.department.home.notFound">No departments found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="departments?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)" style="background-color: #5f83c5">
                  
                    <th scope="col"  jhiSortBy="deptName"><span jhiTranslate="taskManagerHsnxApp.department.deptName" style="color: white;">Dept Name</span> <fa-icon icon="sort" class="text-white"></fa-icon></th>
                    <th scope="col"  jhiSortBy="deptNote"><span jhiTranslate="taskManagerHsnxApp.department.deptNote" style="color: white;">Dept Note</span> <fa-icon icon="sort" class="text-white"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let department of departments ;trackBy: trackId">
                   
                    <td>{{ department.deptName }}</td>
                    <td>{{ department.deptNote }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/department-hsnx', department.id, 'view']"
                                    class="btn btn-outline-success">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>

                                
                            </button>

                            <button type="submit"
                                    [routerLink]="['/department-hsnx', department.id, 'edit']"
                                    class="btn btn-outline-primary">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>

                               
                            </button>

                            <button type="submit" (click)="delete(department)"
                            class="btn btn-outline-danger">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>

                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="departments?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
