<div class="row">
    <div style="border-right: 2px dashed grey" class="col-md-2">
        <span class="hipster img-fluid rounded"></span>
	</div>
	<div  class="col-5">
		<div>
		  <div style="display: block">
			<canvas baseChart
			  [datasets]="barChartData"
			  [labels]="barChartLabels"
			  [options]="barChartOptions"
			  [legend]="barChartLegend"
			  [chartType]="barChartType">
			</canvas>
		  </div>
		</div>
	  </div>
	  <div  class="col-5">
		<div>
		  <div style="display: block">
			<canvas baseChart
			  [datasets]="barChartData"
			  [labels]="barChartLabels"
			  [options]="barChartOptions"
			  [legend]="barChartLegend"
			  [chartType]="barChartType">
			</canvas>
		  </div>
		</div>
	  </div>
  
</div>