<div class="row">
	<div style="border-right: 2px dashed grey" class="col-md-2">
	
		<span class="hipster img-fluid rounded"></span>
		<p class="lead">
			<h4 class="text-danger"><u> <strong> Task Manager Duties and Responsabilities:</strong></u></h4>
			<ul>
				<li><strong>Improves teamwork</strong></li>
				<li><strong>Prioritisation</strong></li>
				<li><strong>Track time requirements</strong></li>
				<li><strong>Anytime, anywhere</strong></li>
				<li><strong>Reduce Stress</strong></li>
				<li><strong>Team collaboration</strong></li>
			</ul>
	    </p>
	</div>

	
	<div  class="col-10">
		
	<div  class="row">
		<div  class="col-md-6">
		<div>
		  <div style="display: block">
			<canvas baseChart
			  [datasets]="barChartData"
			  [labels]="barChartLabels"
			  [options]="barChartOptions"
			  [legend]="barChartLegend"
			  [chartType]="barChartType">
			</canvas>
		  </div>
		</div>
	  	</div>
	  	<div  class="col-md-6">
		  	<div style="display: block">
				<canvas baseChart
				  [datasets]="barChartData"
				  [labels]="barChartLabels"
				  [options]="barChartOptions"
				  [legend]="barChartLegend"
				  [chartType]="barChartType">
				</canvas>
		  	</div>
		</div>
	</div>

	<br />
	<div class="row">
		<div  class="col-md-6">
		  <div style="display: block">
			<canvas baseChart
			  [data]="polarAreaChartData"
			  [labels]="polarAreaChartLabels"
			  [legend]="polarAreaLegend"
			  [chartType]="polarAreaChartType">
			</canvas>
		  </div>
		</div>
		<br/>
		<div class="col-md-6" >
			<div style="display: block">
				<canvas baseChart
				  [data]="pieChartData"
				  [labels]="pieChartLabels"
				  [chartType]="pieChartType"
				  [options]="pieChartOptions"
				  [plugins]="pieChartPlugins"
				  [colors]="pieChartColors"
				  [legend]="pieChartLegend">
				</canvas>
			</div>
		</div>


	</div> 

	</div>
</div>
	