<link href="https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<div class="task-manager" dir="ltr">
  <div class="left-bar">
    <div class="upper-part">
      <div class="actions">
        <form name="searchForm" class="form-inline">
          <div class="input-group w-100 mt-3">

            <!--  <mat-form-field>   
              <input matInput type="text" placeholder="Type here to search">
              <mat-icon matPrefix>search</mat-icon>
              </mat-form-field>-->
            <div class="search-bar">

              <input type="text" class="input" placeholder="&nbsp;">
              <span class="label" jhiTranslate="taskManagement.home.search">Type to search</span>
              <span class="highlight"></span>
              <div class="search-btn">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 172 172"
                  style=" fill:#000000;">
                  <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                    stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                    font-family="none" font-weight="none" font-size="none" text-anchor="none"
                    style="mix-blend-mode: normal">
                    <path d="M0,172v-172h172v172z" fill="none"></path>
                    <g fill="#ffffff">
                      <path
                        d="M64.5,14.33333c-27.6214,0 -50.16667,22.54527 -50.16667,50.16667c0,27.6214 22.54527,50.16667 50.16667,50.16667c12.52732,0 23.97256,-4.67249 32.7819,-12.31771l3.05143,3.05143v9.26628l43,43l14.33333,-14.33333l-43,-43h-9.26628l-3.05143,-3.05143c7.64521,-8.80934 12.31771,-20.25458 12.31771,-32.7819c0,-27.6214 -22.54527,-50.16667 -50.16667,-50.16667zM64.5,28.66667c19.87509,0 35.83333,15.95824 35.83333,35.83333c0,19.87509 -15.95825,35.83333 -35.83333,35.83333c-19.87509,0 -35.83333,-15.95825 -35.83333,-35.83333c0,-19.87509 15.95824,-35.83333 35.83333,-35.83333z">
                      </path>
                    </g>
                  </g>
                </svg>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="left-content">
      <ul class="action-list">
        <li class="item">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
            stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-inbox"
            viewBox="0 0 24 24">
            <path d="M22 12h-6l-2 3h-4l-2-3H2" />
            <path
              d="M5.45 5.11L2 12v6a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-6l-3.45-6.89A2 2 0 0 0 16.76 4H7.24a2 2 0 0 0-1.79 1.11z" />
          </svg>
          <span jhiTranslate="taskManagement.nav.inbox">Inbox</span>
        </li>

        <li class="item">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-star">
            <polygon
              points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
          </svg>
          <span jhiTranslate="taskManagement.nav.today"> Today</span>
        </li>
        <li class="item">

          <label>
            <div>
              <div style="display: inline-block" jhiTranslate="taskManagement.nav.upcoming">Upcoming</div>

              <div style="display: inline-block">
                <ejs-chiplist aria-orientation="Horizontal">
                  <e-chips>

                    <e-chip text="Soon" cssClass="e-danger"></e-chip>
                  </e-chips>
                </ejs-chiplist>
              </div>

            </div>
          </label>
        </li>
        <li class="item">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-hash">
            <line x1="4" y1="9" x2="20" y2="9" />
            <line x1="4" y1="15" x2="20" y2="15" />
            <line x1="10" y1="3" x2="8" y2="21" />
            <line x1="16" y1="3" x2="14" y2="21" /></svg>
          <span jhiTranslate="taskManagement.nav.important">Important</span>

        </li>
        <li class="item">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-users">
            <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2" />
            <circle cx="9" cy="7" r="4" />
            <path d="M23 21v-2a4 4 0 0 0-3-3.87" />
            <path d="M16 3.13a4 4 0 0 1 0 7.75" /></svg>
          <span jhiTranslate="taskManagement.nav.meeting">Meetings</span>
        </li>
        <li class="item">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
            stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-trash"
            viewBox="0 0 24 24">
            <path d="M3 6h18m-2 0v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" />
          </svg>
          <span jhiTranslate="taskManagement.nav.trash">Trash</span>
        </li>
      </ul>
      <ul class="category-list">
        <li class="item">
          <div class="material-icons">
            notifications_none
          </div>
          <span jhiTranslate="taskManagement.nav.notification">Notifications</span>
        </li>
     
      </ul>
    </div>
  </div>
  <br>
  <div class="page-content">
    <mat-form-field class="example-full-width" color="accent">
      <input matInput  [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="">
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>
    <div class="header">
      <span class="title" jhiTranslate="taskManagement.home.title">Manage Tasks</span>
      <span class="fab-button">
        <button mat-fab class="fab-button-color" (click)="openDialog(content)" matTooltip="New Task">
          <fa-icon icon="plus"></fa-icon>
        </button>
      </span>
    </div>

    <div>
      <p>
      <div ><strong jhiTranslate="taskManagement.home.taskList">Tasks List</strong></div>
      </p>
      <ul class="list-group" *ngFor="let task of tasks  ;trackBy: trackId">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{task.tasktitle}}
          <span class="badge badge-info" *ngIf="task.nbjrs">{{task.nbjrs | number: '1.0-0'}} days left </span>
          <span class=" tag approved" *ngIf="task.taskstatus === 1" style="color: rgb(53, 34, 221);">Open</span>
          <span class="tag progress" *ngIf="task.taskstatus === 2" style="color: #c76a1e;">In Progress</span>
          <span class="tag review " *ngIf="task.taskstatus === 3" style="color: darkmagenta;">In Review</span>
          <span class="tag done" *ngIf="task.taskstatus === 4" style="color: #28a745;">Done</span>
         
        </li>

      </ul>

    </div>
    <hr>
    <mat-tab-group color="accent">
      <mat-tab label="All">
        <ng-template mat-tab-label>
          <span class="material-icons">
            list
          </span>
          All
        </ng-template>
        <mat-list *ngFor="let task of tasks">
          <mat-list-item>{{task.tasktitle}}</mat-list-item>
        </mat-list>
      </mat-tab>

      <mat-tab label="Important" jhiTranslate="taskManagement.category.important">
        <ng-template mat-tab-label>
          <span class="material-icons">
            priority_high
          </span>
          Important
        </ng-template>

        <mat-list *ngFor="let task of tasks">
          <mat-list-item *ngIf="task.taskcategory == 1">{{task.tasktitle}}</mat-list-item>
        </mat-list>
      </mat-tab>

      <mat-tab label="Notes" jhiTranslate="taskManagement.category.notes">
        <ng-template mat-tab-label>
          <span class="material-icons">
            notes
          </span>
          Notes
        </ng-template>
        <mat-list *ngFor="let task of tasks">
          <mat-list-item *ngIf="task.taskcategory == 2">{{task.tasktitle}}</mat-list-item>
        </mat-list>
      </mat-tab>

      <mat-tab label="Links" jhiTranslate="taskManagement.category.links">
        <ng-template mat-tab-label>
          <span class="material-icons">
            link
          </span>
          Links
        </ng-template>
        <mat-list *ngFor="let task of tasks">
          <mat-list-item *ngIf="task.taskcategory == 3">{{task.tasktitle}}</mat-list-item>
        </mat-list>
      </mat-tab>
    </mat-tab-group>




    <mat-divider></mat-divider>
    <div>
      <p>
      <div>
        <div style="display: inline-block" ><strong jhiTranslate="taskManagement.home.upcomingTasks">Upcoming
            Tasks</strong></div>

        <div style="display: inline-block">

          <ejs-chiplist aria-orientation="Horizontal">
            <e-chips>

              <e-chip text="Soon" cssClass="e-danger"></e-chip>
            </e-chips>
          </ejs-chiplist>
        </div>

      </div>
      </p>
      <div class="task">
        <input class="task-item" name="task" type="checkbox" id="item-7">
        <label for="item-7">
          <span class="label-text">Dashboard Design Implementation</span>
        </label>
        <span class="tag waiting">Waiting</span>
      </div>
      <div class="task">
        <input class="task-item" name="task" type="checkbox" id="item-8">
        <label for="item-8">
          <span class="label-text">Create a userflow</span>
        </label>
        <span class="tag waiting">Waiting</span>
      </div>
      <div class="task">
        <input class="task-item" name="task" type="checkbox" id="item-9">
        <label for="item-9">
          <span class="label-text">Application Implementation</span>
        </label>
        <span class="tag waiting">Waiting</span>
      </div>
      <div class="task">
        <input class="task-item" name="task" type="checkbox" id="item-10">
        <label for="item-10">
          <span class="label-text">Create a Dashboard Design</span>
        </label>
        <span class="tag waiting">Waiting</span>
      </div>
    </div>
  </div>
  <div class="right-bar">
    <div class="top-part">
      <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6">
        <button ejs-button cssClass="e-success" (click)="sendNotif()"><span class="material-icons">
          notifications_active
          </span></button>
    </div>
    </div>

    <div class="header" jhiTranslate="taskManagement.home.createLabel"><strong>Events</strong></div>
    <div class="right-content" *ngFor="let event of events">
      <div class="task-box yellow" [ngStyle]="{'backgroundColor': getBackgroundColor(event)}" dir="ltr">
        <div class="description-task">
          <div class="time">{{event.startdate | date:'dd/MM/yyyy'}}</div>
          <div class="task-name">{{event.eventdescription}}</div>
        </div>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          
          <button mat-menu-item>
            <span class="material-icons">
              delete_sweep
              </span>
            <span>Clear</span>
          </button>
        </mat-menu>
      </div>

    </div>

  </div>
</div>


<ng-template #content let-modal >
  <div class="task-form-wrapper" dir="ltr">

    <mat-toolbar color="warn" style="background-color:#880e4f">
      <span class="material-icons">
        check_circle
      </span>
      
      <h5 jhiTranslate="taskManagement.add.dialogTitle">Add New To Do</h5>
      <button type="button"  style="margin-left: 280px;"  (click)="modal.dismiss('Cross click')">
        <fa-icon icon="times" class="text-white"></fa-icon>
  
    </button>
    </mat-toolbar>

    <mat-card>

      <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">

        <div class="input-full-width">
          <textarea matInput type="text" name="tasktitle" formControlName="tasktitle"
            placeholder="What needs to be done?" autocomplete="off"></textarea>
          <br>
          <div
            *ngIf="editForm.get('tasktitle')!.invalid && (editForm.get('tasktitle')!.dirty || editForm.get('tasktitle')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('tasktitle')?.errors?.required"
              jhiTranslate="entity.validation.required">
              
            </small>

          </div>
        </div>
        <div class="form-group">
          <label class="form-control-label" jhiTranslate="taskManagerHsnxApp.task.dateStart" for="field_dateStart">Date
            Start</label>
          <div class="input-group">

            <input id="field_dateStart" type="text" class="form-control" name="dateStart" ngbDatepicker
              #dateStartDp="ngbDatepicker" formControlName="dateStart"  [value]="date.value  | date:'dd/MM/yyyy' " />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dateStartDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="taskManagerHsnxApp.task.dateEnd" for="field_dateEnd">Date
            End</label>
          <div class="input-group">
            <input id="field_dateEnd" type="text" class="form-control" name="dateEnd" ngbDatepicker
              #dateEndDp="ngbDatepicker" formControlName="dateEnd"/>
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dateEndDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>
        
      

        <tr>
          <td class="e-label" jhiTranslate="taskManagement.add.assignee">Assignee</td>
          <td>
            <div class="form-group">
              <mat-form-field color="accent">
                <mat-select id="field_tblEmployee" name="tblEmployee" formControlName="tblEmployeeId">
                  <input type="text" [(ngModel)]="filter" class="form-control" [ngModelOptions]="{standalone: true}">
                  <mat-option [value]="employee.id" *ngFor="let employee of (employees  | pureFilter:filter:'employeename')">{{ employee.employeename }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </td>
        </tr>
        <tr>
          <td class="e-label" jhiTranslate="taskManagerHsnxApp.task.taskcategory">Category</td>
          <td>
            <div class="form-group">
              <mat-form-field color="accent">
                <mat-label for="field_taskcategory">
                </mat-label>
                <mat-select name="taskcategory" id="field_taskcategory" formControlName="taskcategory">
                  <mat-option value="1">Important</mat-option>
                  <mat-option value="2">Notes</mat-option>
                  <mat-option value="3">Links</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </td>
        </tr>
        <tr>
          <td class="e-label" jhiTranslate="taskManagerHsnxApp.task.taskstatus">Status</td>
          <td>
            <div class="form-group">
              <mat-form-field color="accent">
                <mat-label for="field_taskstatus"></mat-label>
                <mat-select name="taskstatus" id="field_taskstatus" formControlName="taskstatus">
                  <mat-option value="1">To Do</mat-option>
                  <mat-option value="2">In Progress</mat-option>
                  <mat-option value="3">In Review</mat-option>
                  <mat-option value="4">Done</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </td>
        </tr>

        <tr>
          <td class="e-label" jhiTranslate="taskManagerHsnxApp.task.taskpriority">Priority</td>
          <td>
            <div class="form-group">
              <mat-form-field color="accent">
                <mat-label for="field_taskpriority"></mat-label>
                <mat-select name="taskpriority" id="field_taskpriority" formControlName="taskpriority">
                  <mat-option value="1">High</mat-option>
                  <mat-option value="2">Medium</mat-option>
                  <mat-option value="3">Low</mat-option>

                </mat-select>
              </mat-form-field>
            </div>
          </td>
        </tr>

        <div class="modal-footer">
        <button ejs-button cssClass="e-outline" [isPrimary]="true" type="submit" id="save-entity"
          [disabled]=" isSaving">
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
        <button ejs-button (click)="modal.dismiss('Cross click')">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button ejs-button cssClass="e-warning"  type="reset">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.reset">Clear</span>
        </button>
      </div>

  </div>

  </form>
  </mat-card>
</ng-template>

<jhi-scroll-top></jhi-scroll-top>