<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-employee-hsnx-heading" jhiTranslate="taskManagerHsnxApp.employee.home.createOrEditLabel">Create or edit a Employee</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taskManagerHsnxApp.employee.employeename" for="field_employeename">Employeename</label>
                    <input type="text" class="form-control" name="employeename" id="field_employeename"
                           formControlName="employeename"/>
                    <div *ngIf="editForm.get('employeename')!.invalid && (editForm.get('employeename')!.dirty || editForm.get('employeename')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('employeename')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taskManagerHsnxApp.employee.employeephone" for="field_employeephone">Employeephone</label>
                    <input type="text" class="form-control" name="employeephone" id="field_employeephone"
                           formControlName="employeephone"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taskManagerHsnxApp.employee.employeefax" for="field_employeefax">Employeefax</label>
                    <input type="text" class="form-control" name="employeefax" id="field_employeefax"
                           formControlName="employeefax"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taskManagerHsnxApp.employee.employeeaddress" for="field_employeeaddress">Employeeaddress</label>
                    <input type="text" class="form-control" name="employeeaddress" id="field_employeeaddress"
                           formControlName="employeeaddress"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taskManagerHsnxApp.employee.employeeemail" for="field_employeeemail">Employeeemail</label>
                    <input type="text" class="form-control" name="employeeemail" id="field_employeeemail"
                           formControlName="employeeemail"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taskManagerHsnxApp.employee.employeehiredate" for="field_employeehiredate">Employeehiredate</label>
                    <div class="input-group">
                        <input id="field_employeehiredate" type="text" class="form-control" name="employeehiredate" ngbDatepicker #employeehiredateDp="ngbDatepicker" formControlName="employeehiredate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="employeehiredateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
