<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="employee">
            <h2><span jhiTranslate="taskManagerHsnxApp.employee.detail.title">Employee</span> {{ employee.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="taskManagerHsnxApp.employee.employeename">Employeename</span></dt>
                <dd>
                    <span>{{ employee.employeename }}</span>
                </dd>
                <dt><span jhiTranslate="taskManagerHsnxApp.employee.employeephone">Employeephone</span></dt>
                <dd>
                    <span>{{ employee.employeephone }}</span>
                </dd>
                <dt><span jhiTranslate="taskManagerHsnxApp.employee.employeefax">Employeefax</span></dt>
                <dd>
                    <span>{{ employee.employeefax }}</span>
                </dd>
                <dt><span jhiTranslate="taskManagerHsnxApp.employee.employeeaddress">Employeeaddress</span></dt>
                <dd>
                    <span>{{ employee.employeeaddress }}</span>
                </dd>
                <dt><span jhiTranslate="taskManagerHsnxApp.employee.employeeemail">Employeeemail</span></dt>
                <dd>
                    <span>{{ employee.employeeemail }}</span>
                </dd>
                <dt><span jhiTranslate="taskManagerHsnxApp.employee.employeehiredate">Employeehiredate</span></dt>
                <dd>
                    <span>{{ employee.employeehiredate }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/employee-hsnx', employee.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
