<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-employee-hsnx-heading" jhiTranslate="taskManagerHsnxApp.employee.home.createOrEditLabel">Create or edit a Employee</h2>

            <div>
              

                <div [hidden]="!editForm.get('id')!.value">
                    <mat-label for="id" jhiTranslate="global.field.id">ID<mat-label>
                    <mat-form-field class="example-full-width">

                    <input matInput type="text"  id="id" name="id" formControlName="id" readonly />
                    </mat-form-field>
                </div>
                 
                <div class="form-group">
                    <mat-label jhiTranslate="taskManagerHsnxApp.employee.employeename" for="field_employeename">Employeename</mat-label>
                    <mat-form-field class="example-full-width">
                    <input matInput type="text"  name="employeename" id="field_employeename"
                           formControlName="employeename"/>
                    <div *ngIf="editForm.get('employeename')!.invalid && (editForm.get('employeename')!.dirty || editForm.get('employeename')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('employeename')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-label  jhiTranslate="taskManagerHsnxApp.employee.employeephone" for="field_employeephone">Employeephone</mat-label>
                    <mat-form-field class="example-full-width">
                    <input matInput type="text"  name="employeephone" id="field_employeephone"
                           formControlName="employeephone"/>
                        </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-label  jhiTranslate="taskManagerHsnxApp.employee.employeefax" for="field_employeefax">Employeefax</mat-label>
                    <mat-form-field class="example-full-width">
                    <input matInput type="text"  name="employeefax" id="field_employeefax"
                           formControlName="employeefax"/>
                   </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-label  jhiTranslate="taskManagerHsnxApp.employee.employeeaddress" for="field_employeeaddress">Employeeaddress</mat-label>
                    <mat-form-field class="example-full-width">
                    <input matInput type="text"  name="employeeaddress" id="field_employeeaddress"
                           formControlName="employeeaddress"/>
                        </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-label  jhiTranslate="taskManagerHsnxApp.employee.employeeemail" for="field_employeeemail">Employeeemail</mat-label>
                    <mat-form-field class="example-full-width">
                    <input matInput type="text"  name="employeeemail" id="field_employeeemail"
                           formControlName="employeeemail"/>
                        </mat-form-field>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taskManagerHsnxApp.employee.employeehiredate" for="field_employeehiredate">Employeehiredate</label>
                    <div class="input-group">
                        <input id="field_employeehiredate" type="text" class="form-control" name="employeehiredate" ngbDatepicker #employeehiredateDp="ngbDatepicker" formControlName="employeehiredate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="employeehiredateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>
              
            </div>

            

            <div>
                <button mat-button type="button" id="cancel-save"  (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button mat-button color="primary" type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
