* {
  box-sizing: border-box;
  border-radius: 12px;
}

//$board-bg: linear-gradient(to right, #651cbd,#b88888,#d757ed);
//$board-bg: linear-gradient(to right, #651cbd,#b88888,#d757ed);
$board-bg: #c4dff5;
