
<head>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <title>Profile</title>
</head>


<header>
    <!--/*/ <th:block th:include="fragments/header :: header('profile')"></th:block> /*/-->
</header>

<main class="container">

    <div class="card mb-3">

        <h1 class="my-highest-header card-header">Profile</h1>

        <div class="card card-body">
            <div class="row">

                <div class="col-sm-10" [ngSwitch]="isAuthenticated()">
                   <div *ngSwitchCase="true">
                    <h3 class="my-second-header"><span *ngIf="account" > First Name : {{ account.firstName }}</span>
                       </h3>
                    <h3 class="my-second-header" > <span *ngIf="account" > Email : {{ account.email }}</span></h3>
                </div>
                <div>
                  
                <button type="submit" class="profile-edit-btn" data-toggle="tooltip" data-placement="right" title="Edit your profile" name="btnAddMore"><fa-icon icon="pencil-alt"></fa-icon></button>
                </div>
                </div>
                <div class="col-4 col-sm-2">
                    <div class="profile-img">
                        <img [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'" alt="user photo" class="embed-responsive embed-responsive-3by4">
                        <div class="file btn btn-lg btn-primary">
                            Change Photo
                            <input type="file" name="file" (change)="onSelectFile($rot)"/>
                           
                        </div>
                    </div>
                </div>
            </div>
           
            <table class="my-tab table text-left">

                <thead class="table-info">
                <tr>
                    <th style="width:20%">Tasks Assigned</th>
                    <th style="width:50%" class="d-none d-sm-table-cell">Description</th>
                    <th style="width:16%">Date</th>
                    <th style="width:16%">Days left</th>
                    <th style="width:7%">Completed</th>

                </tr>
                </thead>
                <tbody>
                <tr >

                    <td class="text-left" ></td>
                    <td class="text-left d-none d-sm-table-cell" ></td>

                    <td ></td>

                    <!--Days left-->
                    <td class="text-center col-1">
                        <!--/*/ <th:block th:include="fragments/days-left-until-deadline :: daysLeft(${t})"></th:block> /*/-->
                    </td>

                    <!--Completed/In progress-->
                    <td>
                        <a ></i>
                        </a>
                    </td>

                </tr>
              <!---*ngIf-->
                <tr >
                    <td colspan="5" ></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

