<div>
    <h2 id="page-heading">
        <span jhiTranslate="taskManagerHsnxApp.country.home.title">Countries</span>

        <button  mat-fab class="fab-button-color" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-country-hsnx" [routerLink]="['/country-hsnx/new']" matTooltip="Add new country">
            <fa-icon icon="plus"></fa-icon>
            
        </button>
    </h2>


    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <mat-form-field>
                    <input matInput type="text" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'taskManagerHsnxApp.country.home.search' | translate }}">
                    </mat-form-field>   
                    <button mat-mini-fab color="primary" class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>
                    <button mat-mini-fab color="warn" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                    
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="countries?.length === 0">
        <span jhiTranslate="taskManagerHsnxApp.country.home.notFound">No countries found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="countries?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)" style="background-color: #5f83c5">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="taskManagerHsnxApp.country.id" style="color: white;">ID</span> <fa-icon icon="sort" class="text-white"></fa-icon></th>
                    <th scope="col"  jhiSortBy="countryName"><span jhiTranslate="taskManagerHsnxApp.country.countryName" style="color: white;">Country Name</span> <fa-icon icon="sort" class="text-white"></fa-icon></th>
                    <th scope="col"  jhiSortBy="countryCode"><span jhiTranslate="taskManagerHsnxApp.country.countryCode" style="color: white;">Country Code</span> <fa-icon icon="sort" class="text-white"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let country of countries ;trackBy: trackId">
                    <td>{{country.id}}</td>
                    <td>{{ country.countryName }}</td>
                    <td>{{ country.countryCode }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button  ejs-button cssClass="e-success" type="submit"
                                    [routerLink]="['/country-hsnx', country.id, 'view']"
                                   >
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>

                              
                            </button>

                            <button ejs-button cssClass="e-info" type="submit"
                                    [routerLink]="['/country-hsnx', country.id, 'edit']"
                                  >
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>

                                
                            </button>

                            <button  ejs-button cssClass="e-danger" type="submit" (click)="delete(country)"
                           >
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>

                                
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="countries?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
